{% extends "vendedor_base.html" %}

{% block principal %}
    <div class="bloque-negocio">
        <div class="info-negocio">
            <p>Ingrese datos en el siguiente formato:</p>
            <p class="instrucciones-ejemplo">Nombre: Samsung s30</p>
            <p class="instrucciones-ejemplo">Marca: samasung</p>
            <p>El nombre es el unico dato obligatorio</p>
        </div>
    </div>
    <form action="" method="post">
        <textarea name="detalle" class="registrar-textarea" spellcheck="false">Nombre: 
Fecha lanzamiento: 
Descripcion: 
Marca: 
Memoria RAM: </textarea>

        <div class="registrar-acciones">
            <button type="submit" class="btn-registrar">Registrar</button>
        </div>
    </form>

{% endblock %}